<!DOCTYPE html>
<html class="no-js" manifest="manifest.appcache">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
	<meta name="description" content="{{ site.description }}">
	<link rel="author" href="humans.txt">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

	<link rel="stylesheet" href="assets/css/style.min.css">
	<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
	<link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

	<meta name="msapplication-square70x70logo" content="assets/icons/windows-tile-70x70.png">
	<meta name="msapplication-square150x150logo" content="assets/icons/windows-tile-150x150.png">
	<meta name="msapplication-square310x310logo" content="assets/icons/windows-tile-310x310.png">
	<meta name="msapplication-TileImage" content="assets/icons/windows-tile-144x144.png">
	<meta name="msapplication-TileColor" content="#433627">
	<link rel="apple-touch-icon-precomposed" sizes="152x152" href="assets/icons/apple-touch-icon-152x152-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="120x120" href="assets/icons/apple-touch-icon-120x120-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="76x76" href="assets/icons/apple-touch-icon-76x76-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="60x60" href="assets/icons/apple-touch-icon-60x60-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/icons/apple-touch-icon-144x144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/icons/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/icons/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon" sizes="57x57" href="assets/icons/apple-touch-icon.png">
	<link rel="icon" sizes="228x228" href="assets/icons/coast-icon-228x228.png">
	<link rel="shortcut icon" href="assets/icons/favicon.ico">
	<link rel="icon" type="image/png" sizes="64x64" href="assets/icons/favicon.png">

	<script src="assets/js/lib/modernizr.min.js"></script>

	<!--[if lt IE 9]>
		<script src="assets/js/lib/html5shiv.min.js"></script>
		<script src="assets/js/lib/respond.min.js"></script>
	<![endif]-->
</head>

<body>
